{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <section class="jumbotron text-center">
                    <h1>pandas</h1>
                    <p>
                        <strong>pandas</strong> is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,<br/>
                        built on top of the <a href="http://www.python.org">Python</a> programming language.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="{{ base_url }}/getting_started.html">Install pandas now!</a>
                    </p>
                </section>

                <section>
                    <h2>Part of a larger ecosystem</h2>
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Python</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Plotting</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Distribute</a>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <p>Python is a powerful and easy to use programming language.</p>

                            <p>Since pandas is built on top of Python, it can be extended with custom Python code, Python libraries, or be embeded in Python systems like websites or pipelines.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <p>Data in pandas can be plotted with any of the multiple plotting libraries of the ecosystem. For example:</p>

                            <ul>
                                <li>Matplotlib</li>
                                <li>Bokeh</li>
                                <li>Altair</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <p>If your data is too big for a single host memory, you can use pandas out-of-core or in a cluster with Dask</p>
                        </div>
                    </div>
                </section>

                <section>
                    <h2>With the support of:</h2>
                    <div class="row h-100">
                        {% for company in partners.active %}
                            <div class="col-sm-6 col-md-2 my-auto">
                                <a href="{{ company.url }}" target="_blank">
                                    <img class="img-fluid" alt="{{ company.name }}" src="{{ base_url }}{{ company.logo }}"/>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <p>More information about our sponsors and sponsoring opportunities in the <a href="about/sponsors.html">sponsors page</a><p>
                </section>
            </div>
        </div>
    </div>

{% endblock %}
